<div class="row">
    <div class="col-sm-3"
         *ngFor="let user of users">
        <div class="card"
             style="width: 18rem;">
            <img class="card-img-top"
                 src={{user.image}}
                 alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{ getUserName(user.firstName, user.lastName) }}</h4>
                <h5 class="card-text">{{$any(user)['address']['address']}}</h5>
                <h5 class="card-text">{{$any(user)['address']['city']}}</h5>
                <div class="d-grid gap-2">
                    <button href="#"
                            class="btn btn-primary">Подробнее</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- div издаёт событие, о том, что надо подгружать пользователей -->
<div appEnterTheViewportNotifier
     (visibilityChange)="onScroll($event)"></div>
